In [19]:
import pandas as pd
import numpy as np

In [14]:
gdf = pd.read_csv('assigned_groups_edited.csv').set_index('group_name')

In [16]:
nlist = []
klist = []
for k,row in gdf.iterrows():
    for y in row['names'].split(','):
        klist.append(k)
        nlist.append(y.strip())
pdf = pd.DataFrame({'name':nlist,'group':klist}).set_index('name')

In [18]:
glist = pdf.group.unique()
glist

array(['Group000', 'Group001', 'Group002', 'Group003', 'Group004',
       'Group005', 'Group006', 'Group007', 'Group008', 'Group009',
       'Group010', 'Group011', 'Group012', 'Group013', 'Group014',
       'Group015', 'Group016', 'Group017', 'Group018', 'Group019',
       'Group020', 'Group021', 'Group022', 'Group023', 'Group024',
       'Group025', 'Group026', 'Group027', 'Group028', 'Group029',
       'Group030', 'Group031', 'Group032', 'Group033', 'Group034',
       'Group035', 'Group036', 'Group037', 'Group038', 'Group040',
       'Group041', 'Group042', 'Group043', 'Group044', 'Group045',
       'Group046', 'Group047', 'Group048', 'Group049', 'Group050',
       'Group051', 'Group052', 'Group053', 'Group054', 'Group055',
       'Group056', 'Group057', 'Group058'], dtype=object)

In [33]:
pdf['should review'] = np.random.permutation(pdf.group)
pdf

                          group should review
name
Ana Cunha              Group000      Group005
Esmeralda Mejia-Trejo  Group000      Group003
Kimberly Johnson       Group000      Group001
Alan Cao               Group001      Group017
Robert Aispuro         Group001      Group045
...                         ...           ...
Jalani Bowman          Group057      Group043
Alexander Huynh        Group058      Group058
Jenny Vu               Group058      Group017
Yimin Lu               Group058      Group038
Dong Pham              Group058      Group013

[267 rows x 2 columns]

In [34]:
problems = pdf.group == pdf['should review']

In [35]:
problems.sum()

4

In [36]:
pdf.loc[problems]

                    group should review
name
Alex Tyler       Group002      Group002
Kyle Moore       Group036      Group036
Hwi Yeo          Group040      Group040
Alexander Huynh  Group058      Group058

In [40]:
pdf.loc[problems, 'should review'] = pdf.loc[problems,'should review'].to_list()[::-1]

In [41]:
pdf.loc[problems]
# no more problems!

                    group should review
name
Alex Tyler       Group002      Group058
Kyle Moore       Group036      Group040
Hwi Yeo          Group040      Group036
Alexander Huynh  Group058      Group002

In [43]:
pdf.groupby('group')['should review'].agg( lambda x: x.value_counts().max()).value_counts()

1    55
2     3
Name: should review, dtype: int64

In [45]:
pdf.drop('group',axis=1).to_csv('assigned_review.csv')