### FYI, 

You can grab the full roster of students AND what group they're in from Canvas (go to People => Project Groups => Import)

Using this script for pulling the project groups from Canvas, pulling the guthub IDs from a Canvas Quiz (manually), combining them to create a list of groups with respective github IDs, isolating the non-assigned students (use full roster), and create repos in Github for each group and send invites.

In [1]:
import pandas as pd
import requests
import time

In [2]:
def flatten(t):
    return [item for sublist in t for item in sublist]

### Get all enrolled students from Canvas gradebook

In [3]:
# pull all students using gradebook from Canvas
enrolled_students = pd.read_csv('2022-10-12T0952_Grades-COGS108_FA22_A00.csv')

In [4]:
enrolled_students

,Student,ID,SIS User ID,SIS Login ID,Section,D1 (531421),D2 (531422),Practice Assignment (531444),A1 (531416),Q1 (531409),...,Project Final Score,Project Unposted Final Score,Current Score,Unposted Current Score,Final Score,Unposted Final Score,Current Grade,Unposted Current Grade,Final Grade,Unposted Final Grade
0,Points Possible,NaN,NaN,NaN,NaN,2.0,2.0,1.0,8.0,1.00,...,(read only),(read only),(read only),(read only),(read only),(read only),(read only),(read only),(read only),(read only)
1,"Abraham, Rita",64598.0,A15892063,r2abraha,COGS 108 - A03 [87921],NaN,NaN,NaN,NaN,0.90,...,NaN,NaN,90.00,90.00,12.63,12.63,A-,A-,F,F
2,"Ahmed, Tonoya",108059.0,A16672415,ttahmed,COGS 108 - A07 [87925],NaN,NaN,NaN,NaN,1.00,...,NaN,NaN,100.00,100.00,14.04,14.04,A+,A+,F,F
3,"Aimer-Ghani, Ryley",138729.0,A17169786,raimerghani,COGS 108 - A03 [87921],NaN,NaN,NaN,NaN,0.88,...,NaN,NaN,87.50,87.50,12.63,12.63,B+,B+,F,F
4,"Alcaraz-Andrade, Gissel",143171.0,A17207543,galcarazandrade,COGS 108 - A05 [87923],NaN,NaN,NaN,NaN,1.00,...,NaN,NaN,100.00,100.00,14.04,14.04,A+,A+,F,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
440,"Zhou, Zhengyuan",65764.0,A16146369,zzhou,COGS 108 - A03 [87921],NaN,NaN,NaN,NaN,0.90,...,NaN,NaN,90.00,90.00,12.63,12.63,A-,A-,F,F
441,"Zhu, Yilin",69440.0,A15862322,yiz095,COGS 108 - A02 [87920],NaN,NaN,NaN,NaN,0.98,...,NaN,NaN,97.50,97.50,13.68,13.68,A+,A+,F,F
442,"Zou, Ellie",129572.0,A17117056,w3zou,COGS 108 - A07 [87925],NaN,NaN,NaN,NaN,1.00,...,NaN,NaN,100.00,100.00,14.04,14.04,A+,A+,F,F
443,"Zwiebel, Jennifer",104054.0,A16324852,jzwiebel,COGS 108 - A05 [87923],NaN,NaN,NaN,NaN,1.00,...,NaN,NaN,100.00,100.00,14.04,14.04,A+,A+,F,F
444,"Student, Test",175616.0,NaN,bb8f72a93a1827c2661a169607c10fc5f74987d2,"COGS 108 - A01 [87919], COGS 108 - A02 [87920]...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.00,0.00,NaN,NaN,F,F

In [5]:
enrolled_students = enrolled_students.drop([0,444]).reset_index(drop=True)[['Student','SIS User ID','SIS Login ID']]
enrolled_students = enrolled_students.rename( {'SIS User ID':'SID', 'SIS Login ID':'email'},axis=1)
# turn last, first into first last
enrolled_students['Student'] = ( enrolled_students['Student']
                                .apply( lambda x: x.split(', ')[::-1]) # reverse order around the ,
                                .apply(lambda x: x[0]+' '+x[1]) # join with space between
                               )
enrolled_students = enrolled_students.dropna() # drop the canvas test student with NaN SID
enrolled_students = enrolled_students[enrolled_students.Student != 'Cogs 108 Grader Account'] 
enrolled_students.Student.value_counts()

Jason Lee           2
Rita Abraham        1
Yicheng Qu          1
Shay Samat          1
Josh Salce          1
                   ..
Brandon Kao         1
Seung Kang          1
Annelise Kamm       1
Sarah Kagzi         1
Jennifer Zwiebel    1
Name: Student, Length: 441, dtype: int64

### Import data for github IDs (manually from Canvas)

# How to grab github IDs

```
1) Go to Canvas quiz for github IDs
2) Go to "Quiz Statistics", then click on "Student Analysis"
3) This downloads a CSV. Move the CSV to the directory of this notebook. 
4) Run the following cell
```

```
githubs = pd.read_csv('Github user ID Survey Student Analysis Report.csv')
githubs.columns = ['name', 'id', 'sis_id', 'section', 'section_id', 'section_sis_id', 'submitted', 'attempt', 'github', '1.0', 'n correct', 'n incorrect', 'score']
githubs = githubs[['name','sis_id','attempt', 'github']]
#githubs.set_axis(['name', 'sis_id', 'github'], axis=1, inplace=True)
```

#### Clean Github Quiz

In [9]:
# Clean github usernames (WTF happened here ugh)
# This
#githubs.drop_duplicates(subset=['sis_id'], keep='first', inplace=True)
#githubs.to_csv('Github user ID Survey Student Analysis Report_fixed.csv')

In [10]:
# Some REGEX stuff here for cleaning
# will need removal of links, removal of new lines, removal of quotes, other shit
# => I did this manually in excel

In [11]:
githubs = pd.read_csv('Github user ID Survey Student Analysis Report_fixed.csv')

In [12]:
githubs

     Unnamed: 0           name     sis_id  attempt            github
0             0  Kimberly Wong  A16352518        1         kimiiwong
1             1   Brandon Tran  A15206559        1          btran206
2             2   Tonoya Ahmed  A16672415        1     tonoyaahmed46
3             3  Brandon Luong  A17165655        1      BrandonLuong
4             4   Yutong Zhang  A15632165        1        Skyler2727
..          ...            ...        ...      ...               ...
402         455       Leon Tan  A17185988        1         leontan29
403         456  Baraa Zekeria  A17137018        1          bzekeria
404         459    Tina Nguyen  A15958724        1        tin001ucsd
405         461   Haoyuan Wang  A16162507        1       LukeWang777
406         462  Jennifer Wong  A16444978        1  jenniferwong1808

[407 rows x 5 columns]

Add githubs to enrolled_students AND check which students don't have a github ID

In [13]:
no_gits = []
def find_git(sid):
        try:
            ret = githubs.set_index('sis_id').loc[sid,'github']
        except KeyError:
            print('No github found for: ' + sid)
            no_gits.append(sid)
            ret = None
        return ret

enrolled_students['github'] = enrolled_students.apply(lambda row : find_git(row['SID']), axis = 1)

No github found for: A16138872
No github found for: A15633379
No github found for: A15642345
No github found for: A16131276
No github found for: A15986849
No github found for: A16118006
No github found for: A16503456
No github found for: A16373388
No github found for: A16681107
No github found for: A16946426
No github found for: A17169808
No github found for: A17239984
No github found for: A16410258
No github found for: A16121771
No github found for: A15967880
No github found for: A16526598
No github found for: A15832700
No github found for: A16306812
No github found for: A16394707
No github found for: U09486781
No github found for: A17215453
No github found for: A17210415
No github found for: A15951316
No github found for: A15834896
No github found for: A16416168
No github found for: A15975998
No github found for: A15895435
No github found for: A17151720
No github found for: A16232780
No github found for: A17135615
No github found for: A15936338
No github found for: A16166274
No github found for: A16480259
No github found for: A16315154
No github found for: A16135558

In [14]:
len(no_gits)

35

In [15]:
# ^That's perfect => nobody is left out!

In [16]:
get_git = enrolled_students[enrolled_students['SID'].isin(no_gits)]

In [17]:
# theses are the students to email (copy/paste below into TO: line) 
# ask them to fill out the Github Quiz ASAP!
git_emails = get_git.email + '@ucsd.edu'

In [19]:
git_emails.to_list()

['lanson@ucsd.edu',
 'tochang@ucsd.edu',
 'ddavilag@ucsd.edu',
 'gdungca@ucsd.edu',
 'q6gong@ucsd.edu',
 'jguiman@ucsd.edu',
 'jhandral@ucsd.edu',
 'ehsiao@ucsd.edu',
 'ejin@ucsd.edu',
 'arkhanna@ucsd.edu',
 'nik001@ucsd.edu',
 'a4ko@ucsd.edu',
 'akourjan@ucsd.edu',
 'jlawler@ucsd.edu',
 'hgle@ucsd.edu',
 'yul145@ucsd.edu',
 'grliu@ucsd.edu',
 'k1luong@ucsd.edu',
 'nemarcus@ucsd.edu',
 'ax008364@ucsd.edu',
 'ximu@ucsd.edu',
 'aparashar@ucsd.edu',
 'jsather@ucsd.edu',
 'rsedano@ucsd.edu',
 'pshahabi@ucsd.edu',
 'isikdar@ucsd.edu',
 'aslater@ucsd.edu',
 'jis036@ucsd.edu',
 'jmvillal@ucsd.edu',
 'tcwhite@ucsd.edu',
 'juw008@ucsd.edu',
 'y1xiao@ucsd.edu',
 'deyoo@ucsd.edu',
 'jiz088@ucsd.edu',
 'jiz081@ucsd.edu']

## pull groups from Canvas group signup (script)

In [ ]:
# Note: Accessing the API requires a token. You can generate a token by following these steps
'''
1) Go to your Canvas
2) Go to "Account" => Settings"
3) Scroll to "Approved Integration" and click "+ New Access Token"
4) Save your token (the below token will be expired)
'''
token = '13171~9B7RkWuHE17yFaxPsH2HuaqtBbmDvSCMfYPBVCM5KH9OPab3nQAC3b8XJZ09fuap'

In [ ]:
# Make API calls to Canvas API (using requests)

# First get all the groups (including Group Ids)
#TODO: fix API request limit (handling pagination)

raw_groups = []
header = {'Authorization': 'Bearer ' + token}

call = requests.get('https://ucsd.instructure.com:443/api/v1/courses/39457/groups', headers = header)
print(call.status_code)

raw = call.json()
for g in raw:
    raw_groups.append(g)

In [ ]:
while call.links['current']['url'] != call.links['last']['url']: # repeat API calls until current and last match

    call = requests.get(call.links['next']['url'], headers = header)
    print(call.status_code)

    raw = call.json()
    for g in raw:
        raw_groups.append(g)

In [ ]:
raw_groups

In [ ]:
# Then parse through the json for each group id and get the members and add them to a dataframe
Groups = list()
for group in raw_groups:
    
    # get group information
    g_ID = str(group['id'])
    g_Name = str(group['name'])
    g_count = str(group['members_count'])
    
    # skip empty groups
    if (int(g_count) == 0):
        continue
    
    # make API call to get members of this group
    try: 
        members = requests.get('https://ucsd.instructure.com:443/api/v1/groups/' + g_ID + '/users', headers = {'Authorization': 'Bearer ' + token})
    except: 
        print('Error in pulling members from group: ' + g_Name)
        continue

    members = members.json()
    m_names = []
    m_sids = []
    m_gits = []
    
    # loop through all members of group
    for m in members:
        m_names.append(m['name'])
        sid = m['sis_user_id']
        m_sids.append(sid)
        m_gits.append(enrolled_students.set_index('SID').loc[sid,'github'])
    
    Groups.append([g_Name, m_names, m_sids, m_gits, g_count])
    print('Finished adding group: ' + g_Name)
    
print('\nAll Groups Done!')

In [ ]:
Groups = pd.DataFrame(Groups, columns=['Canvas Group Name', 'names', 'sids', 'gitids', 'n_people'])

In [ ]:
def name_change(g_Name):
    number = str(int(g_Name[14:])).zfill(3)
    g_Name = g_Name[:14] + number
    return g_Name

Groups['Canvas Group Name'] = Groups['Canvas Group Name'].apply(lambda x: name_change(x))

In [ ]:
Groups['n_people'] = pd.to_numeric(Groups['n_people'])

In [ ]:
#len(Groups[Groups['n_people'] < 5])

### check for unassigned students (using Canvas gradebook and groups from Canvas)
code for this is already in previous quarter script

In [ ]:
# make list of assigned student PIDS
assigned = flatten(Groups['sids'].tolist())

In [ ]:
# subtract assigned list from all enrolled
enrolled_sids = enrolled_students['SID'].tolist()
unassigned = set(enrolled_sids) - set(assigned)
error_students = set(assigned) - set(enrolled_sids)
error_students

In [ ]:
len(unassigned)

In [ ]:
enrolled_students[enrolled_students['SID'].isin(unassigned)]

In [ ]:
# add unassigned students to existing groups
# Groups 90-92 were randonmly given 5 unassigned students
# Groups 6 and 7 were randomly given 1 unassigned student each

### Create github repos (use previous quarter's script)

OK time to create a github repo for each and every group. Note to do this you need to have gh CLI installed and have authenticated it as your user (see gh auth login documentation)

The process will create one repo for each group from the group_template. Next we invite users to their repo. Then we checkout the project locally, rename the files, push, and delete the local copy

In [ ]:
# YOU NEED TO CHANGE THINGS HERE EACH QUARTER!!!
# you'll have to change the name of the quarter in command_add_instructors
# and also in grpsuffix

import os
import glob


command_create = 'gh repo create --template COGS108/group_template -y COGS108/' # + groupname
command_invite = 'gh api -X PUT -f permission=push repos/COGS108/' # + groupname/collaborators/username
command_add_instructors = 'gh api -X PUT -f permission=admin /orgs/COGS108/teams/Staff_Fall2022/repos/COGS108/' # + groupname

grpsuffix = '-Fa22' #change this name suffix each quarter

In [ ]:
raise NotImplemented
for grp in Groups.index:

    gname = grp+grpsuffix 
    
    # create new repo
    cmd = command_create+gname
    ret = os.system(cmd)
    print(cmd,ret)
    
    # add instructors to have admin access to the repo
    cmd=command_add_instructors+gname
    ret = os.system(cmd)
    print(cmd,ret)
    
    # invite everyone in the group to the repo
    for uname in Groups.loc[grp,'gitids']:
        cmd=command_invite+gname+'/collaborators/'+uname.strip()
        ret = os.system(cmd)
        print(cmd,ret)
        
    # get a local copy of the repo
    cmd='gh repo clone COGS108/'+gname
    ret = os.system(cmd)
    print(cmd,ret)

    # rename the files in the repo to the groups name pattern
    for fname in glob.glob(gname+'/*groupXXX.ipynb'):
        source = fname.split('/')[1]
        target = source.split("_")[0]+gname+'.ipynb'
        cmd = ( 'cd '+gname+'; '+
                        ' '.join(['git mv',source,target]))
        ret = os.system(cmd)
        print(cmd,ret)
        
    # commit changes and push
    cmd = 'cd '+gname+'; git add -A; git commit -m "renamed files"; git push'
    ret = os.system(cmd)
    print(cmd,ret)
    
    # remove local copy of repo
    cmd = 'rm -rf '+gname
    ret = os.system(cmd)
    print(cmd,ret)
    
    # add instructors to the repo
    cmd=command_add_instructors+gname
    ret = os.system(cmd)
    print(cmd,ret)